<<<<<<< HEAD:samaritan/app/views/requests/new.html.erb
<!DOCTYPE html >
<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
  <title>Samaritan</title>
  <style>

  /* Optional: Makes the sample page fill the window. */
  html, body {
    background-color: #052542;

    height: 100%;
    margin: 0;
    padding: 0;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 2s; /* Firefox < 16 */
      -ms-animation: fadein 2s; /* Internet Explorer */
       -o-animation: fadein 2s; /* Opera < 12.1 */
          animation: fadein 2s;
}


@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}



  </style>
</head>
<body>

  <center>

  <h2> This is a form. </h2>
  <!-- old form in html
  <form method="post" action="#">


    <div class="field half first">
      <label for="name">Name</label>
      <input type="text" name="name" id="name" />
    </div>
    <div class="field half">
      <label for="email">Email</label>
      <input type="text" name="email" id="email" />
    </div>
    <div class="field">
      <label for="message">Message</label>
      <textarea name="message" id="message" rows="4"></textarea>
    </div>
    <ul class="actions">
      <li><input type="submit" value="Send Message" class="special"/></li>
      <li><input type="reset" value="Reset"/></li>
    </ul>

  </center>

</form> -->
  <!-- new form in rails -->
<%= form_for :request do |f| %>
  <%= f.label :name %><br>
  <%= f.text_field :name %><br><br>




<% end %>

  <!-- <form action = "sendToBackend"> -->
  <!-- </form> -->


</body>


</html>
=======
<!DOCTYPE html >
<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
  <link href=' http://fonts.googleapis.com/css?family=Century+Gothic' rel='stylesheet' type='text/css'>

  <title>Samaritan</title>
  <style>

  * {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }

  body {
    font-family: "Century Gothic", Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 12px;
    line-height: 30px;
    color: #f6f7fb;
    background: #4CAF50;
  }

  .container {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    position: relative;
  }

  #contact input[type="text"],
  #contact input[type="email"],
  #contact input[type="tel"],
  #contact input[type="url"],
  #contact textarea,
  #contact button[type="submit"] {
    font: 400 12px/16px "Century Gothic", Helvetica, Arial, sans-serif;
  }

  #contact {
    background: #F9F9F9;
    background-color:rgba(0, 0, 0, 0);

    padding: 25px;
    margin: 150px 0;
    }

  #contact h3 {
    display: block;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }

  #contact h4 {
    margin: 5px 0 15px;
    display: block;
    font-size: 13px;
    font-weight: 400;
  }

  fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
  }

  #contact input[type="text"],
  #contact input[type="email"],
  #contact input[type="tel"],
  #contact input[type="url"],
  #contact textarea {
    width: 100%;
    border: 1px solid #7a9ec7;
    background: #7a9ec7;
    margin: 0 0 5px;
    padding: 10px;
    border-style: solid;
    border-width: 2px;
    border-radius: 9px;
  }

  #contact input[type="text"]:hover,
  #contact input[type="email"]:hover,
  #contact input[type="tel"]:hover,
  #contact input[type="url"]:hover,
  #contact textarea:hover {
    -webkit-transition: border-color 0.5s ease-in-out;
    -moz-transition: border-color 0.5s ease-in-out;
    transition: border-color 0.5s ease-in-out;
    border: 2px solid #CC9787;

    border-style: solid;
    border-width: 2px;
    border-radius: 9px;
  }

  #contact textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
  }

  #contact button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: #3e6589;
    color: #7a9ec7;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;

    border-style: none;
    border-radius: 9px;
  }

  #contact button[type="submit"]:hover {
    background: #CC9787;
    -webkit-transition: background 0.6s ease-in-out;
    -moz-transition: background 0.6s ease-in-out;
    transition: background-color 0.6s ease-in-out;
  }

  #contact button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
  }

  .copyright {
    text-align: center;
  }

  #contact input:focus,
  #contact textarea:focus {
    outline: 0;
  }

  ::-webkit-input-placeholder {
    color: #052542;
  }

  :-moz-placeholder {
    color: #052542;
  }

  ::-moz-placeholder {
    color: #052542;
  }

  :-ms-input-placeholder {
    color: #052542;
  }

  /* Optional: Makes the sample page fill the window. */
  html, body {
    background-color: #052542;
    color: #7a9ec7;
    height: 100%;
    margin: 0;
    padding: 0;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 2s; /* Firefox < 16 */
      -ms-animation: fadein 2s; /* Internet Explorer */
       -o-animation: fadein 2s; /* Opera < 12.1 */
          animation: fadein 2s;
}




@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}



  </style>
</head>
<body>

  <center>

  <div class="container">
    <form id="contact" action="" method="post">
      <h3>Request a Favor <3</h3>
      <fieldset>
        <input placeholder="NAME" type="text" tabindex="1"  autofocus>
      </fieldset>
      <fieldset>
        <input placeholder="PHONE NUMBER" type="tel" tabindex="3" >
      </fieldset>
      <fieldset>
        <textarea placeholder="REQUEST (max 25 characters)" tabindex="5" ></textarea>
      </fieldset>
      <fieldset>
        <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
      </fieldset>
    </form>
  </div>

  <!-- <form action = "sendToBackend"> -->
  <!-- </form> -->


</body>


</html>
>>>>>>> c86ece1b34ac701341206f77b805e4e2b2e0de27:requestForm.html
